@import './variables';


.canvas{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    border: 1px solid black;
    background-color: white;
}
.canvas__users{
    position: absolute;
    top: 10%;
    left: 0%;
}